{% extends "base.html" %}
<div class="grid">
    <article>
        <h2>Discover the Brachiosaurus</h2>

        <div class="description">
            Lorem ispum
        </div>

        <div class="card">
            <img src="" alt="" />
            <dl>
                <dt>Name</dt>
                <dd>Brachiosaurus</dd>
                <dt>Name meaning</dt>
                <dd>Brachiosaurus</dd>
                <dt>Diet</dt>
                <dd>Brachiosaurus</dd>
                <dt>Height</dt>
                <dd>Brachiosaurus m.</dd>
                <dt>Length</dt>
                <dd>Brachiosaurus m.</dd>
                <dt>Weight</dt>
                <dd>Brachiosaurus kg.</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        <!-- iterate here ? -->
            <a href="">
                <figure>
                    <img src="" alt="" />
                    <figcaption>Discover the Brachiosaurus</figcaption>
                </figure>
            </a>
    </aside>
</div>
