{% extends "base.html" %}
{% block title %}{% endblock %}
{% block main %}
<section>
    <h2>The world of Jurassic Park</h2>

    {% for dino in dinosaurs %}
        <a href='{{ dino.get("avatar") }}'>
            <figure>
                <img src='/dinosaur/{{ dino.get("slug") }}' alt='{{ dino.get("name") }}' />
                <figcaption>Discover the {{ dino.get("name") }}</figcaption>
            </figure>
        </a>
    {% endfor %}
</section>
{% endblock %}

